<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<img class="wave" th:src="@{/images/wave.png}">
<div class="container">
    <div class="img">
        <img th:src="@{/images/cooking.svg}">
    </div>
    <div class="login-content">
        <form action="/login" method="post" autocomplete="off">
            <img class="avatar" th:src="@{/images/avatar.svg}">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input class="input" type="text" name="username" autocomplete="new-password">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input class="input" type="password" name="password" autocomplete="new-password">
                </div>
            </div>
            <a href="#">Forgot Password?</a>
            <input class="btn" type="submit" name="submit" value="Login">
        </form>
    </div>
</div>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>