<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<form class="login-form" action="/login" method="post">
    <h1 class="login-element">Please login</h1>
    <div class="login-element">User:</div>
    <input class="login-element" type="text" name="username" value="">
    <div class="login-element">Password:</div>
    <input class="login-element" type="password" name="password" value="">
    <input class="login-element" name="submit" type="submit" value="submit">
</form>
</body>
</html>